:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #ffffff;
    --bg-secondary: #b1b1be;
    --transition-speed: 600ms;
  }
  
  body {
    color: rgb(255, 255, 255,0.7);
    background-color: #2C2F33;
    margin: auto;
    padding: auto;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #e5ff00b0;
  }